.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10vh;
}
form{
  display: flex;
  flex-flow:row wrap;
  width:500px;
}
form input{
  font-size:15px;
  padding: 10px;
  border:none;
  border:1px solid rgb(237, 237, 237);
  border-radius:3px;
  outline: 0;
  margin-bottom:10px;
  width:100%;
}
button{
  flex: 1 1 100px;
  padding: 10px;
  border-radius: 3px;
  margin:5px;
  border:2px solid rgb(75, 255, 213);
  background: black;
  font-size:15px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  width:50%;
}
.confirm-details{
  text-align: center;
  border:1px solid rgb(237, 237, 237);
  width:300px;
  margin:0 auto;
}